<a href="https://colab.research.google.com/github/vilijajoyce/python-resources/blob/main/python_lake_004_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Intro to python](https://cims.nyu.edu/~brenden/courses/labincp/chapters/03/00-python.html)
* Programming? Sequence of instructions for computer to follow.
* Data analysis pipeline-->Opening data file, processing/cleaning, computing stats, drawing figures/graphs.
* Remember **SHIFT+ENTER** to run code

In [ ]:
# Comment 1
spam = 1  # Comment 2
          # Comment 3
text = "#This is not a comment - it's inside quotes"
print(text)

#This is not a comment - it's inside quotes

In [ ]:
#Define variables and print them
a=1
b=2
# Functions/methods/procedures - collection of lines of codes. name("argument")
print(a,b)

1 2

In [ ]:
abs(2)

2

In [ ]:
abs(-1)

1

In [ ]:
# Example of error message e.g. you forgot your paren
abs(-1

SyntaxError: ignored

## Calculator

In [ ]:
# Calculator
2+2

20

In [ ]:
# Calculator
50-5*6

20

In [ ]:
# Python needs to keep track of what type of number it is 
# integer --> no decimal places after it
# floating point number--> w/ decimal places, etc.
type(2)

int

In [ ]:
type(2.0)

float

In [ ]:
type(2.)

float

In [ ]:
# Convert between types
8/5

1.6

In [ ]:
type(8), type(5), type (8/5)

(int, int, float)

In [ ]:
# Get left hand side when dividing
17//5

3

In [ ]:
# Get remainder when dividing
17%3

2

In [ ]:
# Use the last operation (%) for cycling through a list of numbers
# Note that when we get to 3, we go back to 0 in the 2nd column
numbers = [0,1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i, i%3)

0 0
1 1
2 2
3 0
4 1
5 2
6 0
7 1
8 2
9 0
10 1

In [ ]:
# Power
5**2

25

## Variables

In [ ]:
# Variables - making our code readable
# Variable must begin with letter or _
# Can only contain A-Z, 0-9, _
# Case sensitive (unlike SAS)
width = 20
height = 5*90
area = width * height
print("area = ", area)

area =  9000

In [ ]:
n #Try to access an undefined variable

NameError: ignored

In [ ]:
# Get list of all current named variables in our Jupyter kernel
%whos

Variable   Type    Data/Info
----------------------------
a          int     1
area       int     9000
b          int     2
height     int     450
i          int     10
numbers    list    n=11
spam       int     1
text       str     #This is not a comment - it's inside quotes
width      int     20

In [ ]:
# Strings (text)
# e.g. your name
'spam eggs' #single quotes
"spam eggs" #double quotes

'spam eggs'

In [ ]:
# Multiple lines in same string
print("""
Usage: thingy [OPTIONS]
  -h                      Display this usage message
  -H hostname             Hostname to connect to
""")

Usage: thingy [OPTIONS]
  -h                      Display this usage message
  -H hostname             Hostname to connect to

In [ ]:
# Concatenate vars using +
3 * 'un' + 'ium'

'unununium'

In [ ]:
# Access individual characters one by one
# Note that we start with zero (Python is zero indexed)
word = 'Python'
word[0] # Character in position 0

'P'

In [ ]:
word[5] # Character in position 5

'n'

In [ ]:
word[-1] # Last character

'n'

In [ ]:
word[-2] # 2nd to last character

'o'

In [ ]:
word[0:2] #Slice (not inclusive-->takes characters from 0 through 1)
# See image below for identifying each of the letters in a string-->top row=forwards; bottomr row=backwards

'Py'

![Screenshot 2022-05-22 220113.png]()

In [ ]:
# Can't modify a string - you must create a new string

In [ ]:
# Length of a string
s = 'supercalifragilisticexpialidocius'
len(s)

33

In [ ]:
# Changing to upper or lower case
s = 'Python'
s.upper()

'PYTHON'

In [ ]:
# Changing to upper or lower case
s = 'Python'
s.lower()

'python'

In [ ]:
# Test if string is inside larger string
'thon' in 'Python'

True

In [ ]:
# Reverse a string
s[::-1]

'nohtyP'

In [ ]:
# Break strings up by a certain character, e.g. comma, to create a list
s = 'milk, eggs, chocolate'
s.split(',')

['milk', ' eggs', ' chocolate']

## Lists, dictionaries, and sets
### Lists

In [ ]:
# Deal with collections of numbers (0, 1, 2, 3-->maintain order of items)
# Create an empty list...squares
squares = []
squares

[]

In [ ]:
# Add list of numbers
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [ ]:
# Mix of numbers of strings
squares_mixed = ["one", 4, 9, "sixteen", 25]
squares_mixed

['one', 4, 9, 'sixteen', 25]

In [ ]:
# Return certain items in a list
squares[0]

1

In [ ]:
squares[-1]

25

In [ ]:
squares[-3:] # Get last 3 elements of the list

[9, 16, 25]

In [ ]:
# Concatenate (add on to your existing list)
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Recall that strings can't be changed
# BUT, lists can be changed
cubes = [1, 8, 27, 65, 125]
4**3 # 4 raised to 3

64

In [ ]:
# We want to replace the 65 w/ 64. We want to fix the cubes list.
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [ ]:
# Append - add items to the end of your list
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216]

In [ ]:
# How many items in a list
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [ ]:
# Nest lists (lists that contains other lists) Notice the double brackets
a = ['a','b','c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
# First list
x[0]

['a', 'b', 'c']

In [ ]:
# First list, with first item
x[0][0]

'a'

In [ ]:
# Get list of numbers 0 through 10
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Create list by repeating a list
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
[1,2]*10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

### Dictionaries
Collection of things - unordered. Stores key value pair (associative array or hash table). Keys aka variable names or columns "name", "title". Values "vilija", "researcher".

Helpful for organizing data.

In [1]:
# Create dictionary. Key-value pairs.
person = {'firstname': 'vilija', 'lastname': 'joyce', 'office': 324, 'hair': 'blonde'}

In [2]:
# Another way to create a dictionary
person = dict(firstname='vilija', lastname='joyce', office=324, hair='blonde')

In [3]:
# Look up any value by the key.
person['firstname']

'vilija'

In [4]:
person['office']

324

In [8]:
# Look up all keys aka variable names of a dictionary.
person.keys()

dict_keys(['firstname', 'lastname', 'office', 'hair'])

In [9]:
# Look up all values
person.values()

dict_values(['vilija', 'joyce', 324, 'blonde'])

In [11]:
# Look up keys and values
person.items()

dict_items([('firstname', 'vilija'), ('lastname', 'joyce'), ('office', 324), ('hair', 'blonde')])

In [12]:
# Add new keys and values to an existing dictionary
person['age'] = '>30'
person['position'] = 'AD'
person['sta3n'] = '640'
person['email'] = 'vilija@vilija.net'
person

{'age': '>30',
 'email': 'vilija@vilija.net',
 'firstname': 'vilija',
 'hair': 'blonde',
 'lastname': 'joyce',
 'office': 324,
 'position': 'AD',
 'sta3n': '640'}

In [13]:
# Overwrite existing value
person['firstname']='VILIJA'
person

{'age': '>30',
 'email': 'vilija@vilija.net',
 'firstname': 'VILIJA',
 'hair': 'blonde',
 'lastname': 'joyce',
 'office': 324,
 'position': 'AD',
 'sta3n': '640'}

In [15]:
# Another way to look something up, but with an error message if we can't find it
person.get('phone', 'N/A')

'N/A'

In [17]:
# Merge 2 dictionaries together
dict1 = {'firstname': 'vilija', 'lastname': 'joyce'}
dict2 = {'skill': 'python'}
dict1.update(dict2)
print(dict1)

{'firstname': 'vilija', 'lastname': 'joyce', 'skill': 'python'}

## Sets
Manipulate and analyze data. Collection of objects.
Think of them as tables - includes union statements.

In [18]:
# Create animal set - this is unordered (unlike in a list)
animal_set = set(['coyote', 'dog', 'bear', 'cat', 'elephant'])
animal_set

{'bear', 'cat', 'coyote', 'dog', 'elephant'}

In [20]:
# Another way to create a set
set_1 = {2, 4, 6, 8, 10}
set_2 = {42, 'vilija', (1, 2, 3), 3.14159}
print(type(set_1))

<class 'set'>

In [21]:
# Find size of set
len(animal_set)

5

In [22]:
# Check to see if value exists in the set - case sensitive
'owl' in animal_set

False

In [23]:
'coyote' in animal_set

True

In [24]:
'Coyote' in animal_set

False

In [26]:
# Full union of 2 sets                  
x1 = {'lopinavir', 'ritonavir', 'lamivudine'}
x2 = {'abacavir', 'lamivudine', 'ritonavir'}
x1 | x2

{'abacavir', 'lamivudine', 'lopinavir', 'ritonavir'}

In [27]:
# Full union method 2
x1.union(x2)

{'abacavir', 'lamivudine', 'lopinavir', 'ritonavir'}

In [28]:
# Inner union or inner join
x1.intersection(x2)

{'lamivudine', 'ritonavir'}

In [29]:
# Inner union method 2
x1 & x2

{'lamivudine', 'ritonavir'}

In [30]:
# In x1 but not x2
x1.difference(x2)

{'lopinavir'}

In [31]:
# In x1 but not x2 method 2
x1-x2

{'lopinavir'}

In [32]:
# Outer join (in either set x1 or set x2, but not both)
x1.symmetric_difference(x2)

{'abacavir', 'lopinavir'}

In [33]:
# Outer join (in either set x1 or set x2, but not both) method 2
x1 ^ x2

{'abacavir', 'lopinavir'}

In [34]:
# Anything not in common? (weird)
x1.isdisjoint(x2)

False

In [38]:
# Add and remove elements from set
x1.add('nevirapine')
x2.remove('lamivudine')
x1
x2

{'abacavir', 'ritonavir'}

In [42]:
# Grab unique values
ages = [14,15,35,15,24,14,17,18,22,22,24]
set(ages)

{14, 15, 17, 18, 22, 24, 35}

In [40]:
len(set(ages))

7

## Flow control
Changing the order. Often we want to run the order of the code in different orders or repetitions.

In [43]:
# Ask the question is 1 equal to 2?
# Single equal is assign; double equals is question
1==2

False

In [44]:
1==1

True

In [45]:
'hello'=='HELLO'

False

In [46]:
# Does a variable have a particular value?
# Set myvar equal to 10 then test 
myvar = 10
myvar == 10

True

In [47]:
myvar==11

False

In [48]:
# Greater than, etc.
myvar > 10

False

In [49]:
myvar <= 15

True

In [50]:
myvar != 5 #Is myvar not equal to 5

True

In [51]:
myvar is 10

True

In [52]:
myvar is not 10

False

In [53]:
# Test if item is part of a collection (e.g. list (w/ keys and values) or set (values only))
mylist = ['methadone','naltrexone','buprenorphine']
'buprenorphine' in mylist

True

In [54]:
'methadone' not in mylist

False

In [55]:
mystring = 'injectable naltrexone'
'inj' in mystring

True

In [57]:
'tablet' in mystring

False

In [58]:
# Conditional execution - if, else if, else
# if <expression>:
#   <code block>
# Don't forget to tab over for that code block
weather = 'nice'

if weather == 'nice':
    print('Walk the dog')
    print("Mow the lawn")
    print("Weed the flower bed")

Walk the dog
Mow the lawn
Weed the flower bed

In [59]:
weather = 'terrible'

if weather == 'nice':
    print('Walk the dog')
    print("Mow the lawn")
    print("Weed the flower bed")

In [62]:
myvar = 10
myvar2 = 20

if myvar == myvar2: 
    print("this is") # Print if statement is true
    print("a code block")

print("this is not") # Regardless (notice it's not tabbed over)

this is not

In [66]:
# If else statements
# Assign raining variable
raining = False

if raining:
    print("Take umbrella") # If true
else:
  print("Take sunglasses") # If false

print("Take wallet") # Regardless

Take sunglasses
Take wallet

In [70]:
# Multiple if else conditions
weather = 'cloudy'

if weather == 'raining':
    print("Take umbrella")
elif weather == 'sunny':
    print("Take sunglasses")
elif weather == 'cloudy':
    print("Take sweater")
print("Take wallet")

Take sweater
Take wallet

In [71]:
# Multiple conditions with a final option
weather = 'tornado'

if weather == 'raining':
    print("Take umbrella")
elif weather == 'sunny':
    print("Take sunglasses")
elif weather == 'cloudy':
    print("Take sweater")
else:
    print("I don't know what to do!")
print("Take wallet")

I don't know what to do!
Take wallet

In [73]:
# For loops - automate/repeat code over and over again
# Set x equal to a, then print. Then x equal to b, then print.
# for x in ['a','b']
#   print x

# Print list of numbers between 0 and 5 (i=0, i=1, i=2...)
for i in range(0,5):
  print(i)

0
1
2
3
4

In [75]:
# Loop over sequential data
art_rx = ['abacavir', 'ritonavir', 'lamivudine', 'nevirapine', 'zidovudine']

for art in art_rx:
  print(art)

abacavir
ritonavir
lamivudine
nevirapine
zidovudine

In [79]:
# For each med, add the word art to the list
art_rx = ['abacavir', 'ritonavir', 'lamivudine', 'nevirapine', 'zidovudine']

for item in range(len(art_rx)):
  art_rx.append('art')

print(art_rx)

['abacavir', 'ritonavir', 'lamivudine', 'nevirapine', 'zidovudine', 'art', 'art', 'art', 'art', 'art']

In [80]:
# Build up a list
integers = [] # Blank list

for i in range(10):
    integers.append(i)

print(integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
# Iterate through strings
vilija = 'vilija'

for letter in vilija:
    print(letter)

v
i
l
i
j
a

In [82]:
# Iterate through a dictionary - print keys aka variables and values
directory = {'firstname': 'vilija', 'lastname': 'joyce', 'hair': 'blonde'}

for key in directory:
    print(key + ': ' + directory[key])

firstname: vilija
lastname: joyce
hair: blonde

In [83]:
# Nested loops - a loop within another loop
# for [first iterating variable] in [outer loop]: # Outer loop
# [do something] # Optional
# for [second iterating variable] in [nested loop]: # Nested loop
#   [do something]

# For each number, print every letter
num_list = [1, 2, 3]
alpha_list = ['a', 'b', 'c']

for number in num_list:
    print(number)
    for letter in alpha_list:
        print(letter)

1
a
b
c
2
a
b
c
3
a
b
c

In [84]:
# List of lists - patients and longitudinal systolic and diastolic bp values
pts_bp_3mos = [['A01', 'A02', 'B01'], [120, 152, 130], [75, 100, 90]]

for l in pts_bp_3mos:
    print(l)

['A01', 'A02', 'B01']
[120, 152, 130]
[75, 100, 90]

In [85]:
# Nested for loop - print out each of the items of the list 1 by 1
for list in pts_bp_3mos:
    for item in list:
        print(item)

A01
A02
B01
120
152
130
75
100
90

[Review "40 for loops"](https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#example-for-loops)

Examples

https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#keep-a-counter-i-of-how-many-times-the-loop-repeated

https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#iterate-down-two-lists-at-the-same-time

print out each of the columns in this data frame
https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#iterating-over-columns

iterate over groups
https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#iterating-over-groups

Reading in an entire directory of files and concatenate them 
https://cims.nyu.edu/~brenden/courses/labincp/tips/fortyforloops.html#reading-in-an-entire-directory-of-files

## Write our own functions

In [87]:
# def my_function(parameter1, parameter2):
#  <code line 1>
#  <code line 2>

def my_function():
  print("hello from my function")

my_function()

hello from my function

In [88]:
# Print out the following lines of code 4x
def my_ramp():
  print('*')
  print('**')
  print('***')

for i in range(4):
  my_ramp()

*
**
***
*
**
***
*
**
***
*
**
***

In [89]:
# Parameters - create an equation with 2 parameters
def add(x, y):
  print("The sum is ", x+y)

add(1,2)

The sum is  3

In [90]:
# Return values
def sum(x,y):
  return x+y

In [91]:
sum(4,5)

9

In [92]:
# Get the square root function
import math

# Get square root of 9
math.sqrt(sum(4,5))

3.0

In [97]:
# Create 4 different equations, plug in values, and return answers 
# Answers are called a tuple (similar to a list)
def arithmetic(x,y):
  _sum = x+y
  _diff = x-y
  _prod = x*y
  _div = x/y
  return _sum, _diff, _prod, _div

arithmetic(7,3)

(10, 4, 21, 2.3333333333333335)

## Import other people's functions

In [98]:
# import <library>
import math

In [99]:
# Cosine
math.cos(1)

0.5403023058681398

In [102]:
# Shorten library name - create alias
# Import pandas 
import pandas as pd

In [103]:
# Create dataframe
df=pd.DataFrame({'student': ['James','Liam','Jane','Mary'], 'grades':[0.95, 0.60, 1, 0.88]})
df

  student  grades
0   James    0.95
1    Liam    0.60
2    Jane    1.00
3    Mary    0.88

## Error messages
Use this info that Python spits out to help you.

In [106]:
# Too many paren - look for the caret
print(0/0))

SyntaxError: ignored

In [107]:
# Division error
print(0/0)

ZeroDivisionError: ignored

In [ ]:
# Consider restarting kernel (CTRL M)